<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASMtoARMTool.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ASMtoARMTool.app>
            <setting name="AllowTelemetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TenantId" serializeAs="String">
                <value>&lt;domain&gt;.onmicrosoft.com</value>
            </setting>
        </ASMtoARMTool.app>
    </userSettings>
</configuration>